// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900

.noto-serif-sc-<uniquifier> {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}